/fr-FR.plg_content_xlink_articles.ini
/fr-FR.plg_editors-xtd_add_attachment.ini
/fr-FR.plg_editors-xtd_insert_attachments_token.ini
/fr-FR.plg_emailalerts_jma_latestnews_js.ini
/fr-FR.plg_search_attachments.ini
/fr-FR.plg_system_show_attachments.ini
/fr-FR.com_attachments.ini
/fr-FR.com_attachments.menu.ini
/fr-FR.com_jmailalerts.ini
/fr-FR.com_plotalot.ini
/fr-FR.com_plotalot.menu.ini
/fr-FR.com_plotalot.sys.ini
/fr-FR.plg_attachments_attachments_for_content.ini
/fr-FR.plg_attachments_attachments_plugin_framework.ini
/fr-FR.plg_content_attachments.ini
